{% extends "bootstrap_base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}
    <h1> Create New Position </h1>

    <form action="{{ url_for('faculty.create_position', faculty_id=current_user.id) }}" method="POST">
        {{ form.hidden_tag()}}

        {{wtf.form_field(form.name)}}
        {{wtf.form_field(form.description)}}
        {{wtf.form_field(form.start_date)}}
        {{wtf.form_field(form.end_date)}}
        {{wtf.form_field(form.team_size)}}
        {{wtf.form_field((form.min_gpa))}}
        {{wtf.form_field(form.ref_required)}}
        {{wtf.form_field(form.majors)}}
        {{wtf.form_field(form.research_topics)}}
        {{wtf.form_field(form.languages)}}
        {{wtf.form_field(form.courses)}}

        {{wtf.form_field(form.submit)}}
    </form>
{% endblock %}