{% extends "bootstrap_base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}

    <div class="d-flex flex-wrap justify-content-start align-items-end mb-3">

        <div class="me-3">
            <h1 class="mb-1">Welcome, faculty member!</h1>
        </div>

        <div class="align-self-end ms-3">
            <a href="{{ url_for('faculty.edit_lists') }}" class="btn btn-pending btn-lg btn-wide">Edit lists</a>
        </div>

    </div>
    <div class="postlist">
    {% for position in positions %}
        <div class="post-box">
        {% include 'position_detail.html' %} 
        </div>
    {% endfor %}
    </div>
  
{% endblock %}  