{% extends "bootstrap_base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}

    <div class="d-flex flex-wrap justify-content-between align-items-end mb-3">

        <div class="me-3">
            <h1 class="mb-1">Welcome!</h1>
        </div>

        <a href="{{ url_for('faculty.faculty_profile_view', faculty_id=current_user.id) }}">View profile</a>
            
    </div>
    <!-- TODO: (milestone1) Format posts -->
    <div class="postlist">
    {% for positions in positions %}
        <div class="post-box">
        {% include 'position_detail.html' %} 
        </div>
    {% endfor %}
    </div>
  
{% endblock %}