{% extends "bootstrap_base.html" %}

{% block content %}
    <h1> Faculty profile </h1>
    <div class = "border rounded-3 bg-light p-3">
        <h3> Faculty username: {{ user.username }} </h3>
        <p> <b>Positions:</b> 
            <ul>
                {% for name in user.get_position_names() %}
                    <li>{{ name }}</li>
                {% endfor %}
            </ul>
        </p>

        <h2>My Recommendations</h2>
            {% if user.recommendations %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Position</th>
                            <th>From</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rec in user.recommendations %}
                            <tr>
                                <td><a href="{{ url_for('main.view_position', position_id=rec.application.position.id) }}">{{ rec.application.position.name }}</a></td>
                                <td>{{ rec.student.firstname }} {{ rec.student.lastname }}</td>
                                <td>{{ rec.status }}</td>
                                <td>
                                    <a href="{{ url_for('student.student_profile_view', student_id=rec.student_id) }}"
                                        class="btn btn-primary btn-sm">
                                        View profile
                                    </a>
                                    
                                        {% if rec.status|lower == 'approved' %}
                                            <button class="btn btn-success" disabled>Approved</button>
                                            <a href="{{ url_for('faculty.recommendation_reject', recommendation_id=rec.id) }}" class="btn btn-danger">Reject</a>
                                            {% elif rec.status|lower == 'rejected' %}
                                            <a href="{{ url_for('faculty.recommendation_approve', recommendation_id=rec.id) }}" class="btn btn-success">Approve</a>
                                            <button class="btn btn-danger" disabled>Rejected</button>
                                            {% else %}
                                            <a href="{{ url_for('faculty.recommendation_approve', recommendation_id=rec.id) }}" class="btn btn-success">Approve</a>
                                            <a href="{{ url_for('faculty.recommendation_reject', recommendation_id=rec.id) }}" class="btn btn-danger">Reject</a>
                                        {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no recommendations yet.</p>
            {% endif %}
    </div>
{% endblock %}