{% extends "bootstrap_base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}
    <div class="mb-4">
        <div class="d-flex flex-wrap justify-content-between align-items-end mb-3">

            <div class="me-3 d-flex align-items-center gap-3">
                <h1 class="mb-1">Welcome, student!</h1>
            </div>
        </div>
        <div class="d-flex justify-content-start flex-wrap gap-4 mb-4 w-100">

            <form action="" method="post" class="d-flex flex-wrap align-items-end gap-4 w-100">
                {{ form.hidden_tag() }}

                <div class="d-flex flex-column">
                    <label class="mb-1 me-2" for="{{ form.majors.id }}">Majors</label>
                    {{ form.majors(multiple='multiple', class_="form-select form-select-sm") }}
                </div>

                <div class="d-flex flex-column">
                    <label class="mb-1 me-2" for="{{ form.courses.id }}">Courses</label>
                    {{ form.courses(class_="form-select form-select-sm") }}
                </div>

                <div class="d-flex flex-column">
                    <label class="mb-1 me-2" for="{{ form.grades.id }}">Grades</label>
                    {{ form.grades(class_="form-control form-control-sm") }}
                </div>

                <div class="d-flex flex-column">
                    <label class="mb-1 me-2" for="{{ form.course_instructors.id }}">Course instructors</label>
                    {{ form.course_instructors(class_="form-select form-select-sm") }}
                </div>

                <div class="d-flex flex-column">
                    <label class="mb-1 me-2" for="{{ form.research_topics.id }}">Research topics</label>
                    {{ form.research_topics(class_="form-select form-select-sm") }}
                </div>

                <div class="d-flex flex-column">
                    <label class="mb-1 me-2" for="{{ form.languages.id }}">Programming languages</label>
                    {{ form.languages(class_="form-select form-select-sm") }}
                </div>

                <div class="d-flex align-items-end">
                    {{ form.Refresh(class_="btn btn-success btn-sm") }}
                </div>

                <div class="d-flex align-items-end">
                    <a href="{{ url_for('main.recommended') }}" class="btn btn-primary btn-sm">View Recommended</a>
                </div>
            </form>
        </div>
    </div>

    <div class="postlist">
    {% for position in positions %}
        <div class="post-box">
        {% include 'position_detail.html' %} 
        </div>
    {% endfor %}
    </div>

{% endblock %}
