<div class="card text-center w-100">
  <div class="card-body">
    <h5 class="card-title">Application</h5>
    <p class="card-text">For: {{ application.position.name }} </p>
    <p class="card-text">Date: {{ application.created_at.date() }} </p>
    <a href="{{ url_for('faculty.view_application', application_id=application.id) }}" class="btn btn-primary">View Details</a>
  </div>
  <div class="card-footer text-muted">
    From: <span class="useritem">{{ application.student.firstname }} {{ application.student.lastname }}</span>
  </div>
</div>