<div class="card text-center w-100">
  <div class="card-body">
    <h5 class="card-title"> {{ position.name }} </h5>
    <p class="card-text">Team size: {{ position.team_size }} </p>
    <p class="card-text">Minimum GPA: {{ position.min_gpa }} </p>
    <p class="card-text">Date: {{ position.start_date.date() }} to {{ position.end_date.date() }} </p>
    <a href="{{ url_for('main.view_position', position_id=position.id) }}" class="btn btn-primary">View Details</a>
    {% if current_user.role == 'faculty' %}
      <a href="{{ url_for('main.view_student_list', position_id=position.id) }}" class="btn btn-primary">View Applications</a>
    {% endif %}
  </div>
  <div class="card-footer text-muted">
    Posted by: <span class="useritem">{{ position.faculty.firstname }} {{ position.faculty.lastname }}</span>
  </div>
</div>