<div class="card text-center w-100">
  <div class="card-body">
    <h5 class="card-title"> {{ student.student.firstname }} {{ student.student.lastname }}</h5>
    <p class="card-text">Status: {{ student.status }}</p>
    <a href="{{ url_for('faculty.view_application', application_id=student.id) }}" class="btn btn-primary">View Details</a>
    <a href="{{ url_for('student.student_profile_view', student_id=student.student.id) }}" class="btn btn-primary">View Profile</a>
      <div class="mt-3">
        {% if student.status|lower == 'approved' %}
          <button class="btn btn-success" disabled>Approved</button>
          <a href="{{ url_for('faculty.student_reject', application_id=student.id) }}" class="btn btn-danger">Reject</a>
        {% elif student.status|lower == 'rejected' %}
          <a href="{{ url_for('faculty.student_approve', application_id=student.id) }}" class="btn btn-success">Approve</a>
          <button class="btn btn-danger" disabled>Rejected</button>
        {% else %}
          <a href="{{ url_for('faculty.student_approve', application_id=student.id) }}" class="btn btn-success">Approve</a>
          <a href="{{ url_for('faculty.student_reject', application_id=student.id) }}" class="btn btn-danger">Reject</a>
        {% endif %}
      </div>
</div>
</div>