{% extends "base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}
{% from datetime import datetime, timezone, timedelta%}

{% block content %}
    <h1> Create New Positions </h1>

    <form action = "{url_for('main.createposition')}" method = "POST">
        {{ form.hidden_tag()}}

        {{wtf.form_field(form.id)}}
        {{wtf.form_field(form.name)}}
        {{wtf.form_field(form.description)}}
        {{wtf.form_field(form.start_date)}}
        {{wtf.form_field(form.end_date)}}
        {{wtf.form_field(form.team_size)}}
        {{wtf.form_field((form.min_gpa))}}
        {{wtf.form_field(form.ref_required)}}
        {{wtf.form_field(form.faculty)}}
        {{wtf.form_field(form.applications)}}
        {{wtf.form_field(form.majors)}}
        {{wtf.form_field(form.research_topics)}}
        {{wtf.form_field(form.language)}}
        {{wtf.form_field(form.courses)}}
    </form>
{% endblock %}